* {
  box-sizing: border-box;
}
header{
      padding-left: 120px;
      display: flex !important;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      align-content: stretch;
      margin-bottom: 11px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  position: relative;
}

h4,
h3,
h2,
h1 {
  font-size: 20px;
  color: black !important;
}

p {
  margin-top: 0;
  margin-bottom: 8px;
  color: black;
}

a {
  color: #007bff;
  text-decoration: none !important;
  background-color: transparent;
}

.menu_items {
  color: white;
  margin-left: 25px;
}

.header {
  text-align: center;
}

.content {
  margin-top: -11px;
}

img.slide_items {
  width: 100%;
  height: 25em;
}

.navbar-brand {
  color: #fff;
  margin-left: 25%;
}

.clr {
  clear: both;
}

.width__100 {
  width: 100%;
  height: 19em;
}
.detail--img__100 {
  width: 100%;

}
.width200 {
  width: 200px;
}
.margin2{
  margin-right: 2%;
}

.background_product {
  background-image: url(./Image_Rudu/wine-1.jpg);
  background-repeat: no-repeat;
  width: 90%;
  height: 550px;
  margin: 0 auto;
  position: relative !important;
}

.card {
  width: 70%;
  margin: 1% 15% 15%;
  display: block !important;
  position: absolute;
  top: 15%;
}

.img_card {
  width: 50%;
  float: left;
}

.content_card {
  width: 49%;
  float: left;
  margin-top: 15%;
}

img.img_pro1 {
  width: 90%;

  max-width: 760px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  font-family: arial;
}

.product_lists {
  width: 80%;
  margin: auto;
}

.ContentProduct {
  width: 90%;
  margin: 0px auto;
  height: 731.335px;
}
.AboutProduct{
  width: 100%;
  height: 20em;
}
.button-header{
   background-color:#1a1a1a;
   color: white;
   border: solid #1a1a1a 1px;
  
}
.name-products {
  margin-top: 10%;
  height: 94px;
}
.menu_text{
  font-size: 14px !important;
  color:white !important;
  background: #1a1a1a!important;
}
.menu_text:hover{
  color:#ffff00 !important;
  background: #000 !important;

}
.LineNewProduct {
  text-align: center;
  margin-top: 1%;
}

.lists_item1 {
  width: 70%;
  margin: 0 auto;
}

ul.d-flex.flex-wrap {
  padding: 0;
}
.flex-wrap {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center; 
  align-content: center; 
  margin-bottom: 3em;
}
.flex-wrap-lisproduct {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.d-flex {
  display: flex!important;
}

li.list-group-item {
  margin-right: 1em;
  width: 20%;
  margin-bottom: 1em !important;
  text-align: center;
  padding: 10px 15px !important;
  margin-top: 2em;
  border-top: solid #c9c9c9 1px !important;
  border-radius: 2px;

}
li.list-group-item:hover{
  -webkit-box-shadow: 0px 0px 15px 0px rgba(196,196,196,1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(196,196,196,1);
  box-shadow: 0px 0px 15px 0px rgba(196,196,196,1);
  transform: scale(1.005, 1.005)
}
img.img_items {
  -webkit-box-shadow: 0px 0px 3px 2px rgba(219,219,219,1);
  -moz-box-shadow: 0px 0px 3px 2px rgba(219,219,219,1);
  box-shadow: 0px 0px 3px 2px rgba(219,219,219,1);
  width: 100%;

  max-width: 760px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 5px;
}

.content_items {
  margin-top: 35px;
  line-height: 20px;
  height: 165px;
}

.ImageProduct {
  width: 100%;
  position: relative;
}

img.Image {
  width: 25%;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, .125);
}

.img-fuilt {
  width: 90%;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 760px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 5px;
}

.footer {
  padding: auto;
  margin-top: 3em;
  width: 100%;
  position: absolute;
  top: 101%;
}

.row {
  width: 205px;
}

.foooter_content {
  width: 80%;
  margin: 0% auto;
  display: flex!important;
  flex-wrap: wrap!important;
  margin-top: 35px;
}

.lists_footer {
  width: 17%;
  text-align: left;
  line-height: 20px;
}

.sent_email.lists_footer {
  width: 38%;
}

span.input-group-text {
  padding: 3px;
}

.contact_us {
  margin-left: 20px;
}

.content_footer {
  font-size: 14px;
  color: #c9c9c9;
}

.checked {
  color: orange;
}

.review {
  list-style-type: none;
  padding: 0;
}

.detail {
  margin: auto;
  width: 70%
}

.main {
  margin: auto;
  width: 70%
}

.login {
  margin: auto;
  width: 50%;
  padding-top: 1%;
}

.floatR {
  float: right;
}

.cart--img {
  width: px;
}

.profiletext {
  text-align: center;
}

.marginL {
  margin-left: 10%;
}



/* Change color on hover */

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.container a {
  color:black
}

/*-------about------*/

.containerflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
}
/*---footer----*/
.pointer {
  width: 200px;
  height: 40px;
  position: relative;
  background: red;
}
.pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid red;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.abouts-content {
  border: solid 0.5px #dadde3;
  width: 20em;
  margin-top: 2em;
  
}
/*--Detail--*/
.img-detail{
  width: 22em;
}

.content-product{
  width: 22em;
}
.flex-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.ContentProduct
.abouts-content:hover {
  -webkit-box-shadow: 0px 0px 15px -4px rgba(196,196,196,1);
  -moz-box-shadow: 0px 0px 15px -4px rgba(196,196,196,1);
  box-shadow: 0px 0px 15px -4px rgba(196,196,196,1);
  transform: scale(1.05, 1.05)
}

@media screen and (min-width:768px) and (max-width:860px) {
  .LineNewProduct {
      margin-top: 1%;
  }

  .h1new {
      font-size: 10px;
  }
}

@media screen and (min-width:861px) and (max-width:1030px) {
  .LineNewProduct {
      margin-top: 1%;
  }
  .lists_footer {
      width: 9em;
  }
  
}

@media screen and (min-width:1254px) and (max-width:2000px) {
  .LineNewProduct {
      margin-top: 6%;
  }.abouts-content{
      width: 25em;
  }
  .lists_footer {
      width: 9em;
  }
}

@media screen and (max-width: 1000px) {
  .row {
      flex-direction: column;
  }
  .logo{display: none;}    
  .login{
      width: 90%;
  }
  .abouts-content{
      width: 15em;
  }
  
}
